*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.donate-form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.org-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    margin:20px;

}
.org-card{
    display:flex;
    flex-direction:column;
    margin:10px;
    height:300px;
    width:300px;
}
.org-card h1{
    font-size: 1rem;
}
.logo-container{
    display:flex;
    align-items:center;
    justify-content:center;
    outline:2px solid red;
    height:100%;
}